{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>

    <style>
        .container-fluid {
            background-color: #000000 !important;
        }
      </style>
    <body>

        <div class="container-fluid text-center">
            <h1>Clogs</h1>
            <h2>A Django backend for Geogirafe geoportal</h2>
            <h3>Welcome to the demo!</h3>
        </div>

        <div class="container-fluid text-center">
            <div class="row text-center">
                <div class="col text-center">
                    <a class="btn btn-warning" href="{% url 'admin:index' %}" target="_blank" rel="noreferrer">Configure a new Geoportal</a>
                </div>
            </div>
        </div>
        <div class="container-fluid text-center">
            <div class="row text-center">
                <form method="post" action="{% url 'clone_geoportal' %}">
                    {% csrf_token %}
                    <input class="btn btn-warning" type="submit"/>
                    <div class="form-group" method="post">
                        <label for="geoportal_url">Please type your geoportal themes URL</label>
                        <input type="url" class="form-control" id="geoportal_url" aria-describedby="geoportal_url" placeholder="http://mapnv.ch/themes" required>
                    </div>
                </form>
            </div>
        </div>

        <div class="container-fluid text-center">
            <img id="logo" width=300 src="{% static 'images/giraffe.svg'%}" class="img-fluid" type="image/svg">
        </div>

    </body>
</html>
