__pycache__/
*.py[cod]
.vscode/
/venv
/geogirafe-viewer/node_modules
/demo
*.qgs~
/qgis/*.zip
gunicorn_log.log
env.yaml
/docker-compose.override.yml
*.env
*.bak
*.orig
.coverage
env.backup
/media/
.DS_Store
.idea
